@font-face {
  font-family: 'Montseratt';
  src: url(/assets/fonts/Montserrat-Regular.ttf);
}

body {
  margin: 0 auto;
}

body, html, ul, ol, li, p, h1, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
}

div,
button {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.about-content {
  display: flex;
  position: relative;
  padding-top: 200px;
}

.about-cup {
  position: absolute;
  left: 720px;
  top: 120px;
}

.about-img {
  padding-left: 50px;
}

.about-item {
  align-items: center;
  display: flex;
  position: relative;
  padding-bottom: 50px;
}

.about-highlight {
  color: #421B0D;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
}

.about-right-column {
  padding-left: 150px;
}

.about-title {
  color: #421B0D;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 58px;
  text-transform: uppercase;
  text-align: center;
}

.about-txt-left {
  color: #64442F;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 20px;
  text-align: right;
  max-width: 335px;
}

.about-txt-right {
  color: #64442F;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 20px;
  text-align: left;
  max-width: 335px;
}

.about-wrapper {
  padding: 90px 75px 220px 75px;
}

.arrow-previous {
  padding-right: 265px;
}

.arrow-next {
  padding-left: 265px;
}

.consultation-button {
  background: linear-gradient(to right, #40C351, #1DA22E);
  color: #fff;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 35px 15px 65px;
  position: relative;
  text-transform: uppercase;
}

.consultation-img {
  position: absolute;
  bottom: 7px;
  left: 25px;
}

.consultation-section {
  padding-right: 150px;
}

.consultation-title {
  color: #64442F;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.consultation-txt {
  color: #64442F;
  font-family: 'Montserrat Medium', 'Arial', 'Times New Roman', sans-serif;
  font-size: 20px;
  padding: 20px 0px 50px 0px;
}

.consultation-wrapper {
  align-items: center;
  background-image: url(/assets/images/consultation.png);
  background-position: 50% 0;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding: 210px 0px;
}

.contact-img {
  padding-right: 5px;
}

.contacts-item {
  color: #421B0D;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 14px;
  padding: 10px 0px;
}

.contacts-title {
  color: #421B0D;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

.discount-button {
  background-color: #421B0D;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 45px;
  text-transform: uppercase;
}

.discount-section {
  align-items: center;
  display: flex;
}

.discount-title {
  color: #64442F;
  font-family: 'Montserrat Medium', 'Arial', 'Times New Roman', sans-serif;
  font-size: 58px;
  padding-right: 95px;
}

.discount-wrapper {
  background-color: #F9EAD9;
  padding: 110px;
}

.footer-icons {
  align-items: center;
  display: flex;
}

.footer-info {
  padding-right: 110px;
}

.footer-section {
  align-items: center;
  display: flex;
  padding-top: 200px;
  padding-bottom: 45px;
  justify-items: center;
}

.footer-contacts {
padding-left: 110px;
}

.footer-wrapper {
  background-image: url(/assets/images/footer-bg.png);
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.intro-section {
  background-image: url(/assets/images/bg.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  padding: 0px 110px;
}

.info-item {
  color: #421B0D;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 14px;
  padding: 5px 0px;
  text-transform: capitalize;
}

.info-title {
  color: #421B0D;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.info-highlight {
  color: #421B0D;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.highlight {
  color: #421B0D;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 42px;
}

.menu-bar {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.menu-item {
  align-items: center;
  color: #421B0D;
  display: flex;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  padding: 20px;
}

.menu-item-switch {
  align-items: center;
  color: #421B0D;
  display: flex;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  padding-bottom: 30px;
}

.method-type {
  color: #421B0D;
  font-family: 'Montserrat Medium', 'Arial', 'Times New Roman', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.method-description {
  color: #421B0D;
  font-family: 'Montserrat Regular', 'Arial', 'Times New Roman', sans-serif;
  font-size: 20px;
}

.onoffswitch {
  position: relative;
  width: 50px;
  display: inline-block;
  font-size: 80%;
}

.onoffswitch .onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 90%);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin: 0;
}

.onoffswitch .onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.15s ease-in-out;
  -o-transition: margin 0.15s ease-in-out;
  -moz-transition: margin 0.15s ease-in-out;
  transition: margin 0.15s ease-in-out;
}

.onoffswitch .onoffswitch-inner:before,
.onoffswitch .onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 80%;
  color: hsl(0, 0%, 100%);
  font-weight: normal;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch .onoffswitch-inner:before {
  content: "рус";
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 6px;
  font-weight: bold;
  padding-left: 7px;
  text-transform: uppercase;
  background-color: #421B0D;
  color: #fff;
}

.onoffswitch .onoffswitch-inner:after {
  content: "укр";
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 6px;
  font-weight: bold;
  padding-right: 10px;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  text-align: right;
}

.onoffswitch .onoffswitch-switch {
  width: 22px;
  height: 22px;
  margin: 0;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  bottom: 0;
  right: 27px;
  -webkit-transition: right 0.15s ease-in-out;
  -o-transition: right 0.15s ease-in-out;
  -moz-transition: right 0.15s ease-in-out;
  transition: right 0.15s ease-in-out;
}

.opt-description {
  color: #64442F;
  font-family: 'Montserrat Medium', 'Arial', 'Times New Roman', sans-serif;
  font-size: 20px;
  padding: 30px 0px 80px 0px;
}

.opt-button {
  background-color: #421B0D;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 45px;
  text-transform: uppercase;
}

.opt-section {
  align-items: center;
  display: flex;
}

.opt-title { 
  color: #421B0D;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 50px;
}

.opt-txt {
  padding-left: 60px;
}

.order {
  align-items: center;
  background-color: #421B0D;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 50px 55px;
  margin: 0 auto;
}

.order-button-item {
  color: #421B0D;
  font-family: 'Montserrat Black', 'Arial', 'Times New Roman', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.order-button {
  background-color: #F9EAD9;
  border: none;
  border-radius: 15px;
  padding: 15px 65px 15px 65px;
  margin-top: 35px;
  position: relative;
  text-transform: uppercase;
}

.order-input {
  border-radius: 10px;
  color: rgba(66, 27, 13, .6);
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 13px;
  padding: 15px;
  margin-bottom: 15px;
  width: 445px;
}

.order-title {
  color: #F9EAD9;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.payment-button {
  background-color: #421B0D;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-right: 100px;
  padding: 15px 35px 15px 35px;
  position: relative;
  text-transform: uppercase;
}

.payment-facilities {
  max-width: 985px;
}

.payment-title {
  color: #421B0D;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 90px;
}

.payment-method {
  background-image: url(/assets/images/point.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding: 40px 0px 50px 100px;
  list-style: none;
  margin-bottom: 10px;
}

.payment-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 90px 75px 80px 75px;
}

.payment-wrapper {
  background-image: url(/assets/images/payment-bg.png);
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.price {
  color: #421B0D;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  padding-right: 120px;
}

.price-button {
  background-color: #421B0D;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 35px;
  text-transform: uppercase;
}

.price-item {
  align-items: center;
  display: flex;
}

.products {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0px 260px;
}

.product-description {
  color: rgba(66, 27, 13, .6);
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 16px;
  max-width: 285px;
  padding: 10px 0px;
}

.product-section {
  padding: 90px 75px;
}

.product-title {
  color: #421B0D;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 58px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 200px;
}

.product-item-title {
  color: #421B0D;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 18px;
  text-transform: capitalize;
}

.product-img {
  position: absolute;
  bottom: 200px;
  right: 20px;
}

.product-item {
  border: 2px solid rgba(66, 27, 13, .3);
  border-radius: 10px;
  padding: 215px 10px 50px 10px;
  position: relative;
  max-width: 325px;
  margin-left: 20px;
}

.product-wrapper {
  background-color: #F9EAD9;
}

.promo-img {
  padding: 0px 75px 220px 0px;
}

.promo-section {
  padding: 200px 0px 0px 75px;
}

.promo-txt {
  color: #64442F;
  font-family: 'Montserrat Medium', 'Arial', 'Times New Roman', sans-serif;
  font-size: 24px;
  padding: 100px 0px;
}

.promo-title {
  color: #64442F;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 40px;
  margin: 0 auto;
}

.promo-wrapper {
  display: flex;
  padding-top: 100px;
}

.promo-button {
  background-color: #421B0D;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 50px;
  text-transform: uppercase;
}

.switch input {
  display: none;
}

.toggle-group {
  position: relative;
  height: 27px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  top: 30%;
  margin-top: -13.5px;
}

.toggle-group input[type=checkbox] {
  position: absolute;
  left: 10px;
}
.toggle-group input[type=checkbox]:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.toggle-group input[type=checkbox]:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-switch {
  right: 1px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.toggle-group input[type=checkbox]:focus ~ .onoffswitch {
  outline: thin dotted #333;
  outline: 0;
}

.toggle-group label {
  position: absolute;
  cursor: pointer;
  padding-left: 65px;
  display: inline-block;
  text-align: left;
  line-height: 24px;
  width: 100%;
  z-index: 1;
  height: 24px;
  font-weight: 200;
}    

.aural {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.aural:focus {
  clip: rect(0, 0, 0, 0);
  font-size: 1em;
  height: auto;
  outline: thin dotted;
  position: static !important;
  width: auto;
  overflow: visible;
}